@model List<Message>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>


    <style>
      
        .header {
            text-align: center;
            position: sticky;
            top: 0;
            width: 100%;
            white-space: nowrap;
            z-index: 1000; /* Устанавливаем высокий индекс Z, чтобы header был поверх остального контента */
            background-color: #ffffff;
        }
        
        #messagesList {
            list-style-type: none;
            padding: 0;
            margin: 0px 0 0; /* Добавляем отступ сверху, чтобы не перекрывался header */
            overflow-y: auto; /* Полностью скрываем полосу прокрутки */
            max-height: calc(100vh - 150px); /* Adjust based on header height and footer height */
            padding-bottom: 60px; /* Reserve space for the send form */
        }
        
        #sendForm {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: white;
            padding: 10px;
            box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000; /* Устанавливаем высокий индекс Z, чтобы форма отправки была поверх остального контента */
        }
        #sender {
            margin-left: auto;
            background-color: #d1e7dd;
            max-width: 60%;
            padding: 10px;
            border-radius: 10px;
        }

        #receiver {
            margin-right: auto;
            background-color: #e2eafc;
            max-width: 60%;
            padding: 10px;
            border-radius: 10px;
        }
        #messageInput {
            resize: vertical;
        }
        #messagesList li {
            word-wrap: break-word; /* или overflow-wrap: break-word; */
        }
        #sendButton {
                    padding: 8px 16px;
                    border: none;
                    border-radius: 5px;
                    background-color: #007bff;
                    color: #ffffff;
                    font-size: 16px;
                    cursor: pointer;
                }
        
                #sendButton:hover {
                    background-color: #0056b3;
                }
                
                
         #messagesList::-webkit-scrollbar {
             width: 8px; /* Ширина полосы прокрутки */
         }
         
         #messagesList::-webkit-scrollbar-track {
             background: #f1f1f1; /* Цвет фона трека */
         }
         
         #messagesList::-webkit-scrollbar-thumb {
             background: #888; /* Цвет полосы прокрутки */
             border-radius: 4px; /* Скругленные углы */
         }
         
         #messagesList::-webkit-scrollbar-thumb:hover {
             background: #555; /* Цвет полосы прокрутки при наведении */
         }       
    </style>
</head>
<body>
<div class="header">
    <h1>@ViewBag.ContactName <i class="fas fa-phone" style="cursor: pointer;"></i></h1>
</div>
<ul id="messagesList">
    @foreach (var message in Model)
    {
        var messageClass = message.SenderId == ViewBag.CurrentUserId ? "sender" : "receiver";
        <li id="@messageClass" data-message-id="@message.Id" style="position: relative;">
                <span>@message.Text</span>
                @if (message.SenderId == ViewBag.CurrentUserId)
                {
                    <button class="edit-button" style="position: absolute; top: 0; right: 0;">
                        <i class="fas fa-edit"></i> <!-- Иконка редактирования -->
                    </button>

                }
            </li>
    }
</ul>
<form id="sendForm">
    <input type="hidden" id="currentUserId" value="@ViewBag.CurrentUserId"/>
    <input type="hidden" id="contactId" value="@ViewBag.ContactId"/>
    <input type="hidden" id="chatId" value="@ViewBag.ChatId"/>
    <textarea id="messageInput" rows="2" style="width: 60%;"></textarea> <!-- Здесь указано rows="4", чтобы поле имело начальную высоту 4 строк -->
    <button type="submit" id="sendButton">Send</button>
</form>
</body>
</html>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
}




